body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}
header {
  background-color: #003366;
  color: white;
  padding: 1em;
  text-align: center;
}
nav ul {
  background: #005599;
  color: white;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
nav ul li {
  margin: 0 1em;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
section {
  padding: 2em;
}
footer {
  background: #003366;
  color: white;
  text-align: center;
  padding: 1em;
}